doctype html
html
  head
    meta(charset = 'utf-8')
    link(href="../css/main.css" rel="stylesheet")
    title
      block title
    body
      include ../components/navigation/nav
      block content
