nav.header
  ul.header__list
    li.header__item
      a(href="#").header__link Главная
    li.header__item
      a(href="#").header__link О нас 
    li.header__item
      a(href="#").header__link Контакты 
